**/.DS_Store
/TP5/TP5/nbproject/private/
/TP5/TP5/build/
/TP5/TP6/nbproject/private/
/TP6/TP6/nbproject/private/
/TP6/TP6/build/
/TP6/TP7/nbproject/private/
/TP8/TP8/nbproject/private/
/TP8/TP8/build/
/TP7/TP7/build/
/TP9/TP9/nbproject/private/
/TP9/TP9/build/
